In [2]:
#Pandas Modülünü İmport Etmek

In [1]:
import pandas as pd

In [4]:
#CSV DOSYASINDAN VERİ OKUMAK

In [ ]:
df = pd.read_csv()

In [7]:
#İlk 5 satır görmek için

In [ ]:
df.head()

In [ ]:
#Son 5 satırdaki verileri görmek

In [ ]:
df.tail()

In [ ]:
#Data frame boyutlarını görmek

In [ ]:
df.shape()

In [ ]:
len(df)

In [8]:
#Data Frame deki başlıkları görmek

In [ ]:
df.columns

In [9]:
#Data Frame içindeki veri tiplerini görmek

In [ ]:
df.dtypes

In [10]:
# Eksik olan hücreleri görmek için

In [ ]:
df.isnull()

In [ ]:
#Data Frame Tek bir sütunu getirme

In [ ]:
df["Sütün adı"]

In [ ]:
#Data Framede tek bir sütünun ilk 5 kaydına bakmak için

In [ ]:
df["Sütün adı"][:5]

In [11]:
# Birden fazla sütünu bir değişkene atadığımızda o değişkende bir data frame objesi olmaktadır

In [ ]:
df_yeni = df[["Sütun1", "Sütun2"]]
df_yeni

In [12]:
#Data framede  sıralama (sorting) etmek için sort_values kullanılır.

In [ ]:
df.sort_values("Sütun_Ismi")

In [13]:
#Sütuna göre tüm sayıları bulmak için

In [ ]:
df.["degisken_ismi"].value_counts()

In [17]:
#Veri Filtreleme(Önemli)

In [18]:
#Data Framedeki sütündaki değeri indexe göre değerlerini getirmek için ( Veri setindeki sütünun ismini biliyorsak)

In [ ]:
df["Sütun_İsmi"][1]

In [19]:
#Veri Setini Görme Şansımız yok ise

In [ ]:
df.loc[df["Sütun ismi"] == "Aradığımız Satır"]["Aradığımız Veri"]

In [20]:
#Yukarıdaki işlemi anlatalım.

In [ ]:
df.loc[df["Sütun ismi"] == "Aradığımız Satır"] # Sütünlarda aradığımız satıra ulaşmak için kullanıyoruz.
#Daha sonra o satırda istediğimiz veriye ulaşmak için ["O verideki istediğimiz sütun ismi"]

In [21]:
#Elimizdeki Veride Şartlı işlemler yaparak listelemek örnek : 50den büyükleri getir , hem 50 den büyük hemde 80 den küçük verileri getir.

In [ ]:
df.loc[(df["Sütunismi "] >= 50) & (df["Sütunismi"] <= 80)] #İstersek bunu farklı bir değişkene kaydedip üzerinde tekrardan düzenlemeler yapabiliriz.

In [23]:
#Yukarıdaka dikkat etmemiz gereken işlemlerdeki tipler tipler farklı ise hata vericektir. Tipleri Görmek için

In [ ]:
df.dtypes

In [24]:
#Öncelikle Hata veren sütunun , gibi işaretlerini silmeliyiz

In [ ]:
df["Sütun İsmi"] = df["Sütun İsmi"].str.replace("," , "")
df["Sütun İsmi"] = pd.to_numeric(df["Sütun İsmi"]) #Sayısal Değişken yaptık
type(df["Sütun İsmi"]) #Kontrol İşlemi

In [ ]:
#Hatayı bu şekilde önleyebiliriz.

In [ ]:
#Manuel Olarak Data Frame Oluşturma İşlemleri

In [25]:
import random # Random kütüphanesini import ediyoruz.

In [28]:
random_list1 = random.sample(range(15 , 25) , 2) #İki elemanlı 15 ile 25 arasında rastgele sayı üretir.
random_list1

[17, 23]

In [29]:
random_list2 = random.sample(range(15, 25) , 2)#İki elemanlı 15 ile 25 arasında rastgele sayı üretir.
random_list2

[16, 24]

In [31]:
randomlistoflist = [random_list1 , random_list2]# İki listeyi birleştirdik
randomlistoflist

[[17, 23], [16, 24]]

In [32]:
columns = ["Sıcaklık 1.gün" , "Sıcaklık 2,gün"]#Sütun isimlerini burda tutuyoruz.

In [35]:
mydataframe = pd.DataFrame(randomlistoflist , index = ["ist" , "ankara"] , columns = columns)
#pd.DataFrame ile data frame oluşturduk , 
#İndex ile index isimlerndirmesi yaptık , 
#columns ile sütün isimleri tuttuğumuza eşitleyerek değerleri sütun isimleri yaptık.

In [39]:

mydataframe

        Sıcaklık 1.gün  Sıcaklık 2,gün
ist                 17              23
ankara              16              24

In [40]:
#Pandas Modülü Detaylı BİLGİLER

In [41]:
#öRNEK VERİ SETİYLE

In [42]:
import pandas as pd 
import seaborn as sns
#Modülleri import ettik

In [43]:
df = sns.load_dataset("planets") # Hazır veri setini çektik

In [44]:
df.head() #Veri setinin ilk 5 satırı

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [45]:
#Bu data framede daha rahat çalışmak için önce kopyalıyoruz .

In [46]:
df_kopya = df.copy()

In [47]:
df_kopya.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [ ]:
#Data framede işimize yaramayan sütünları silmek için drop kullanılır .

In [48]:
df_yeni = df_kopya.drop(["method" , "number"] , axis = 1) # axis 1 ise sütun silinir , 0 ise satır silinir.

In [50]:
df_yeni.head()

   orbital_period   mass  distance  year
0         269.300   7.10     77.40  2006
1         874.774   2.21     56.95  2008
2         763.000   2.60     19.84  2011
3         326.030  19.40    110.62  2007
4         516.220  10.50    119.47  2009

In [ ]:
#Yukarıdaki işlemi kısaltarak yaparsak :

In [52]:
df_yeni2 = df_kopya.drop(columns = ["method" , "number"])
df_yeni2.head()

   orbital_period   mass  distance  year
0         269.300   7.10     77.40  2006
1         874.774   2.21     56.95  2008
2         763.000   2.60     19.84  2011
3         326.030  19.40    110.62  2007
4         516.220  10.50    119.47  2009

In [53]:
#row drop

In [54]:
df_yeni3 = df_kopya.drop([0]) # 0 ıncı indexdeki satırı siler .
df_yeni3.head()

            method  number  orbital_period   mass  distance  year
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009
5  Radial Velocity       1         185.840   4.80     76.39  2008

In [ ]:
#Filtreleme İşlemleri

In [57]:
df_filter = df_kopya[df["mass"] >= 20] # df içindeki mass sütünunda 20den büyük veya eşitleri filtreleme işlemi yapar.
df_filter

              method  number  orbital_period   mass  distance  year
63   Radial Velocity       1          305.50  20.60     92.51  2013
85   Radial Velocity       2          379.63  21.42       NaN  2009
321  Radial Velocity       1         2371.00  25.00     37.05  2008

In [ ]:
#veya

In [59]:
df_filter2 = df.query("mass >= 20")
df_filter2

              method  number  orbital_period   mass  distance  year
63   Radial Velocity       1          305.50  20.60     92.51  2013
85   Radial Velocity       2          379.63  21.42       NaN  2009
321  Radial Velocity       1         2371.00  25.00     37.05  2008